# Dependency directories
node_modules/

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Debug log from npm
npm-debug.log*

# Logs
logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# Optional: Uncomment if you're using yarn
# yarn.lock

# Optional: Uncomment if you don't want to track package-lock.json
# package-lock.json